.Header {
    background: #24292f;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 50px;
    width: 100%;
}

.Header div {
    align-items: center;
    display: flex;
    gap: 0 10px;
    padding: 15px;
}

.Header a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.Header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0 10px;
}

.Header p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

.Header p:nth-child(1)::before {
    content: '';
    background: rgb(0, 115, 255);
    width: 10px;
    height: 10px;
    margin: 12% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.Header p:nth-child(2)::before {
    content: '';
    background: rgb(24, 131, 0);
    width: 10px;
    height: 10px;
    margin: 12% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.Header-Profile {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 7px;
    padding: 0;
    background: white;
}